name: CI Checks
on:
  pull_request:
    branches: [develop, release/*, master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      ## - name: Run Linter
      ##  run: go vet ./...

      - name: Run Tests
        run: go test ./... -v
