name: Tag Release
on:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Auto tag version
        run: |
          VERSION=$(date +'%Y.%m.%d.%H%M')
          git tag -a "v$VERSION" -m "Release $VERSION"
          git push origin "v$VERSION"
