name: Run Go Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: taska123
          POSTGRES_DB: postgres_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      # Variables de entorno tomadas desde Secrets
      POSTGRES_USER: ${{ secrets.TEST_DB_USER }}
      POSTGRES_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
      POSTGRES_DB: ${{ secrets.TEST_DB_NAME }}
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      JWT_SECRET: ${{ secrets.TEST_JWT_SECRET }}
      GO_ENV: test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Wait for PostgreSQL to be ready
        run: |
          echo "Waiting for Postgres to be ready..."
          until pg_isready -h localhost -p 5432 -U postgres; do
            sleep 2
          done

#      - name: Run Tests
#        run: go test ./... -v
